* {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}

:root {
  --dark: #111111;
  --dark-blur: rgba(17, 17, 17, 0.5);
  --white-blur: rgba(255, 255, 255, 0.5);
  --orange: #ff564f;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding-inline: 2rem;
}

.button {
  padding: 1.5rem 4rem;
  color: var(--dark);
  border-radius: 5px;
}

.button--primary {
  color: white;
  background-color: var(--orange);
  text-transform: uppercase;
}
