/* HEADER */
.header {
  background: var(--dark);
  padding-top: 2rem;
  padding-bottom: 150px;
  color: #fff;
  position: relative;
  z-index: -10;
}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_menu-list {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header_menu-list a {
  color: #fff;
}

.header_heading {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 80/72;
  max-width: 724px;
  margin-top: 153px;
  text-transform: uppercase;
}

.header_desc {
  display: flex;
  align-items: center;
  gap: 44px;
}

.header_desc-text {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3px;
  max-width: 370px;
}

.header_img {
  position: absolute;
  top: 384px;
  right: 178px;
}
.header_img-overlay {
  height: 624px;
  width: 570px;
  background-color: var(--orange);
  position: absolute;
  top: 360px;
  right: 220px;
  z-index: -1;
  border-radius: 5px;
}

.header_dots {
  position: absolute;
  top: 30%;
  right: 8%;
}

.header_button {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  bottom: -144px;
}
.header_button-control {
  width: 48px;
  height: 48px;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.header_button-page {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--dark);
  font-size: 24px;
  font-weight: 700;
  margin-left: 2rem;
}
