* {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2;
}

:root {
  --dark: #111111;
  --dark-blur: rgba(17, 17, 17, 0.5);
  --white-blur: rgba(255, 255, 255, 0.5);
  --orange: #ff564f;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding-inline: 2rem;
}

.button {
  padding: 1.5rem 4rem;
  color: var(--dark);
  border-radius: 5px;
}

.button--primary {
  color: white;
  background-color: var(--orange);
  text-transform: uppercase;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-desc {
  max-width: 570px;
}

.section-title {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-size: 56px;
  line-height: calc(64 / 56);
  text-transform: uppercase;
}

.section-subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 3px;
}
