/* HEADER */
.header {
  background: var(--dark);
  padding-top: 2rem;
  padding-bottom: 150px;
  color: #fff;
  position: relative;
  z-index: 0;
}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_menu-list {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header_menu-list a {
  color: #fff;
}

.header_heading {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-size: 72px;
  line-height: calc(80 / 72);
  max-width: 724px;
  margin-top: 153px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.header_desc {
  display: flex;
  align-items: center;
  gap: 44px;
}

.header_desc-text {
  max-width: 370px;
}

.header_img_wrapper {
  position: absolute;
  top: 320px;
  left: 620px;
  z-index: -1;
}

.header_img_wrapper img {
  max-width: none;
}

.header_img {
  position: absolute;
  top: 60px;
  left: -50px;
}
.header_img-overlay {
  position: absolute;
  top: 0;
}

.header_dots {
  position: absolute;
  top: -80px;
  left: 400px;
}

.header_button-page {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--dark);
  font-size: 24px;
  font-weight: 700;
  margin-left: 2rem;
}
