.testimonial {
  padding-block: 153px 117px;
  background-color: var(--dark);
  color: #fff;
  position: relative;
}

.testimonial_title {
  max-width: 455px;
  margin-bottom: 34px;
}

.testimonial_list_wrapper {
  max-width: 700px;
  overflow: hidden !important;
  position: absolute;
  top: 144px;
  right: 0;
}

.testimonial_list {
  display: flex;
  gap: 30px;
}

.testimonial_item {
  padding: 48px;
  background-color: #417505;
  max-width: 470px;
  border-radius: 5px;
}

.mySwiper1 .swiper-wrapper .swiper-slide:nth-child(2n + 1) .testimonial_item {
  background-color: #9013fe;
}

.testimonial_item .user {
  display: flex;
  gap: 30px;
  margin-bottom: 107px;
}

.testimonial_item .username {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: unset;
  line-height: calc(32 / 24);
}

.testimonial_item .comment {
  color: #ffffff80;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: " ";
}

.swiper-button-next,
.swiper-button-prev {
  position: unset;
}

@media screen and (max-width: 376px) {
  .testimonial {
    padding-block: 103px 200px;
  }
  .testimonial_list_wrapper {
    top: 330px;
    right: auto;
    max-width: 355px;
  }
  .testimonial_item {
    width: 320px;
    min-width: unset;
  }
  .testimonial_item:nth-child(2) {
    display: none;
  }
  .testimonial_btn {
    bottom: -60rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .testimonial_item .user {
    margin-bottom: 50px;
  }
}
